/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
  color: #333;
}

/* Header */
header {
  background-color: #e60012; /* Vermelho Pokémon */
  color: white;
  padding: 20px;
  align-items: center;
}

.header-content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.pokeball-img {
  width: 80px;
  height: 80px;
}

/* Lista de jogos */
#games-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  margin-bottom: 60px;
}

.game-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.game-card:hover {
  transform: translateY(-10px);
}

.game-card img {
  width: 100%;
  height: auto;
}

.game-card .content {
  padding: 15px;
}

.game-card h3 {
  font-size: 1.5rem;
  color: #3d7dca;
}

.game-card p {
  font-size: 1rem;
  color: #555;
}

/* Footer */
footer {
  background-color: #e53935;
  color: white;
  text-align: center;
  padding: 10px;
}
/* From Uiverse.io by faxriddin20 */ 
.button-container {
  display: flex;
  background-color: black;
  width: 330px;
  height: 40px;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
}

.button {
  outline: 0 !important;
  border: 0 !important;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

.button:hover {
  transform: translateY(-3px);
}

.icon {
  font-size: 20px;
}
.logo {
  font-size: 2px;
  font-weight: bold;
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}

.logo-img {
  height: 0.5px;
  width: auto;
  filter: drop-shadow(2px 2px 4px rgba(0,0,0,0.3));
  animation: pulse 2s infinite;
}

header .logo img {
  width: 100px; 
  height: auto; 
}


.nav-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #e53935;
  display: flex;
  justify-content: space-around;
  padding: 15px 0;
  z-index: 1000;
}

.nav-footer a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-icon {
  width: auto;
  height: 35px;
  margin-right: 8px;
  vertical-align: middle;
}
.game-card {
  border: 1px solid #ccc;
  padding: 1rem;
  margin: 1rem;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.game-img {
  width: 60%; /* ou outro valor menor */
  max-width: 300px;
  display: block;
  margin: 0 auto 1rem;
}

button.toggle-info {
  background-color: #ef5350;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  cursor: pointer;
  border-radius: 4px;
}

button.toggle-info:hover {
  background-color: #d32f2f;
}

.additional-info {
  margin-top: 0.5rem;
  color: #333;
}
